* {
	box-sizing: border-box;
}

body {
	background-color: #f2f2f2;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	padding: 50px;
}

.form-container {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

h1 {
	margin: 0;
	margin-bottom: 30px;
	font-weight: bold;
}

input {
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	border: none;
	border-radius: 20px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

button {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

button:hover {
	background-color: #45a049;
}

.ghost {
	background-color: transparent;
	border: 1px solid #4CAF50;
	color: #4CAF50;
}

.ghost:hover {
	background-color: #4CAF50;
	color: #fff;
}

.overlay-container {
	position: relative;
	z-index: 1;
}