html {
    scroll-behavior: smooth;
}

body{
    background-color: white;
}
#contact1 {
    color: rgb(204, 67, 9);
    font-size: xx-large;
    font-family: "Times New Roman", Times, serif;
  }
  .contact_p {
    font-size: 1.5rem;
  }

.flag1 {
    align-items: center;
    display: flex;
     margin-top: 30px;
     gap: 30px;
     background-color: rgb(112, 204, 225);
     margin-bottom: 10px;
     border-radius: 10px;
    
}
.logo {
    margin: 30px  0px  10px  50px  ;
}
.heading {
    font-size: 2rem;
    margin: 0px;
    color: aliceblue;
}
#logo1 {
    
    border-radius: 50px;
    height: 100px;
}
.search {
    padding: 10px;
    width: 450px;
    height: 30px;
    border-radius: 20px;
    font-size: 1.5rem;

}
.menu_item:hover {
    background-color: rgb(240, 88, 106);
}
.menu_item {
    margin-left: 10px;
    padding: 0;
    text-align: center;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    color: rgb(165, 215, 243);
    /* background-color: white; */
    font-size: 1.5rem;

}
.care {
    display: grid;
    font-size: 20px;
}


.homeimage > div {
    margin: 0;
    padding: 0;
}
.bg1 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
}
h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-family: "Trajan Pro Regular";
    margin: 0;
    padding: 0;
    color: #F69485;
}
hr{
    width: 15%;
    /* align-self: center; */
    border-style: dotted none none;
    border-top-width: 10px;
    border-top-color: aqua;
    opacity: 0.6;
    /* border: 10px  rgb(8, 23, 2); */
    
}
.facility {
    display: flex;
    gap: 150px;
}
.facility_item {
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    font-size: 1.5rem;
    font-weight: bold;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
  }
  .container {
    position: relative;
    text-align: center;
    color: rgb(172, 59, 59);
    border-color: blueviolet;
    
  }
  #image {
    opacity: 0.5;
    height: 150px;
    
    
  }
  .doctor{
    position: relative;
    color: blue;
    text-align: center;
    font-size: xx-large;
  }
.docimage{
    display: flex;
    gap: 30px;
    text-align: center;
  
  }
  .o{
    border-radius: 400px;
    height: 300px;
    width: 300px;
  
  }
  #imgc1 {
    float: left;
  }
  #imgc2 {
    float: right;
  }
  .wrapper{
    margin-top: 20px;
    position: relative;
    text-align: center;
    color: rgb(233, 83, 83);
    
  }
  .mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    
  }
  #health{
    height: 300px;
  }
  #hos{
    margin-bottom: 0px;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr;
    
  }
  #about{
    width: 100%;
    height: 200px;
}